* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #dfe6e9;
}

.container {
  width: 100%;
  height: 100vh;
}

#form {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

form input {
  height: 1.5rem;
  margin-right: 1.5rem;
}

.calendar {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.month {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 40px 30px;
  width: 100%;
  background-color: #2ecc71;
  color: #ffff;
}

#date {
  font-size: 1.8rem;
  font-weight: 500;
}

.weekdays {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #27ae60;
  color: #ffff;
}


.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
}

.days div {
  height: 120px;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  text-shadow: 0 0.3rem 0.5rem rgba(112, 112, 112, 0.8);
  border: 0.1px solid rgb(202, 202, 202);
  transition: all 0.4s;
  color: rgb(58, 58, 58)
}

.weekdays div,
.days div {
  width: calc(100% / 7);
  text-align: center;
}

.days div:hover {
  background-color: #dfe6e9;
  cursor: pointer;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.4s;
}

#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.slide {
  border: 2px solid #2ecc71;
  background-color: rgba(0, 0, 0, 0.1);
  height: 25px;
  position: absolute;
}
